<%= simple_form_for [@patient, @dental_examination] do |f| %>
  <% if @dental_examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dental_examination.errors.count, "error") %> prohibited this dental_examination from being saved:</h2>

      <ul>
      <% @dental_examination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
    <td><%= f.input :patient, as: :select, label: 'Select the patient you want the examination for' %></td>
    <td><%= f.input :date, label: 'Date of examination' %></td>
  </tr>
  <tr>
    <td><%= f.input :caries_findings, label: 'Caries (Tooth Decay)' %></td>
    <td><%= f.input :tsl_findings, label: 'Tooth Surface Loss' %></td>
  </tr>
  <tr>
    <td><%= f.input :perio_findings, label: 'Periodontal Disease (Gum Disease)' %></td>
    <td><%= f.input :soft_tiss_findings, label: 'Soft Tissue (Mouth Cancer)' %></td>
  </tr>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
