<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Dental RAG Framework - #{content_for(:title)}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: :all %>
  <%= javascript_include_tag "application" %>
  <% # = favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="flash-messages">
  <% flash.each do |name, msg| %>
      <div class="alert-<%=  name == :notice ? 'success' : 'danger'  %> alert fade in">
        <a class="close" data="<%= { dismiss: :alert } %>">&times;</a>
        <%= msg %>
      </div>
  <% end %>
</div>

<div id="wrap">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data="<%= { target: ".navbar-collapse", toggle: :collapse, type: :button } %>"></button>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </div>
      <%= link_to :root, class: 'navbar-brand' do %>
          <div class="row brand">
            <div class="col-xs-12 col-sm6">
              <%= image_tag 'choices-logo.gif', alt: 'Dental RAG Framework', class: 'crest' %>
            </div>
          </div>
      <% end %>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%= navbar_link_to :root, title: 'Go to homepage', identifier: :home do %>
            <i class="fa fa-home whitespace-top">
              Home
            </i>
          <%- end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
              <li class="dropdown">
                <%= link_to '#', data: { toggle: :dropdown }, class: 'dropdown-toggle' do %>
                    <i class="fa fa-user"></i>
                    <%= current_user.decorate.display_name %>
                    <b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to '', id: "sign_out", title: "Sign out" do %>
                        <i class="fa fa-sign-out"></i>
                        Sign out
                    <% end %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li class="dropdown">
                <%= link_to '', id: "sign_in", title: "Sign in" do %>
                    <i class="fa fa-sign-in"></i>
                    Sign in
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
      <% #     %ul.nav.navbar-nav %>
      <% #       = navbar_link_to [:users], title: "Go to Manage Users", identifier: :admin do %>
      <% #         %i.fa.fa-folder-open %>
      <% #         Manage Users %>
    </div>
  </nav>
  <div id="navbar-background"></div>
  <div class="container" id="main-container">
    <%= yield %>
  </div>
</div>
<div id="footer">
  <div class="container">
    <p>
      &copy;<%= Date.today.year %> Dental RAG Framework
    </p>
  </div>
</div>

</body>

</html>
